.page {
  padding: 16px 16px 96px 16px;
  background-color: #f0f9ff;
}
.bg-page-color {
  background-color: #f0f9ff;
}
.page-container {
  display: flex;
  flex-direction: column;
  background-color: #f0f9ff;
  /* height: unset !important;
  min-height: unset !important; */
}
.zaui-header {
  position: relative;
  background-color: #f0f9ff;
  margin: 0 auto;
}
.zaui-header::after {
  content: none;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}
.zaui-text-xxSmall {
  line-height: 16px;
}

.zaui-icon {
  color: #0ebeb8;
}
.text-icon {
  color: #0ebeb8;
}

.bottom-nav-item-active {
  color: #0ebeb8;

  /* Màu xanh dương khi được chọn */
}
.bottom-nav-icon-active {
  color: #0ebeb8; /* Màu xanh dương khi icon được chọn */
}
.button-nav-item-active {
  color: #0ebeb8;
}

.text-custom-teal {
  color: #0cb2ac;
}
.zui-box-custom-bg {
  background-image: linear-gradient(to bottom right, #0cb2ac, #fdbb2d);
}

.zui-custom-bg-text {
  background-image: linear-gradient(to right, #41a197, #31453d);
}
.zui-bg-sheet {
  background-image: linear-gradient(to right, #0cb2ac, #fdbb2d);
}
.text-custom {
  color: #c4c4c4;
}

.button-1 {
  background-color: white; /* Màu nền */
  color: black; /* Màu chữ */
  border: 1px solid black;
}

.button:active {
  background-color: #0ebeb8; /* Màu nền khi được click */
}
.button-1:active {
  background-color: #0ebeb8; /* Màu nền khi được click */
}
.button-2:active {
  background-color: #0ebeb8; /* Màu nền khi được click */
}
.button-2 {
  background-color: white; /* Màu nền */
  color: black; /* Màu chữ */
  border: 1px solid black;
}
.button {
  background-color: #0ebeb8; /* Màu nền */
  color: white; /* Màu chữ */
  border: 1px solid black;
}

.bt-click {
  background-color: #0ebeb8; /* Màu nền */
  color: white; /* Màu chữ */
}

.zaui-sheet-content-handler-wrapper {
  touch-action: none;
}

textarea:focus {
  background-color: #0ebeb8;
  outline: 2px solid #0ebeb8;
  /* Thay #your_custom_color bằng mã màu bạn muốn sử dụng, ví dụ: #00FF00 */
}

.custom-checkbox .zmp-checkmark {
  border: 2px solid #007bff; /* Đổi màu viền khi checked */
}

.custom-checkbox input[type="checkbox"]:checked + .zmp-checkmark::before {
  background-color: #007bff; /* Đổi màu nền khi checked */
  border-color: #007bff; /* Đổi màu viền khi checked */
}

/* barcode */

@keyframes bounceIn {
  0%,
  20%,
  40%,
  60%,
  80%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* listinvest */

.barcode-container.slideIn {
  animation: slideIn 0.8s ease-out;
}
.listinvest-container.slideIn {
  animation: slideIn 0.8s ease-out;
}





/* Responsive design cho màn hình lớn hơn 768px */
.zalo-mini {
  width: 700px; /* Kích thước chiều rộng mong muốn của ứng dụng */
  max-width: 100%;
  height: auto; /* Cho phép chiều cao tự điều chỉnh */
  background-color: #f0f9ff; /* Màu nền */
  margin: 0 auto; /* Căn giữa phần tử trên màn hình */
}

@media (max-width: 768px) {
  .zalo-mini {
      width: 100%;
      height: auto;
  }
}
.toptop {
  padding-top: 1rem;
}
@media (max-width: 768px) {
  .toptop {
    padding-top: 4rem;    
  }
}
.toptop1 {
  padding-top: 3rem;
}
@media (max-width: 768px) {
  .toptop1 {
    padding-top: 6rem;    
  }
}

.bgf {
  background-color: #f0f9ff;
}
@media (max-width: 768px) {
  .bgf {
    background-color: #f0f9ff;   
  }
}
